.headerMobileLogo {
    &>svg {
        width: 145px !important;
        height: 24px !important;
    }

    font: 700 26px/31.69px 'Montserrat'
}

.headerMobileBlock {
    display: flex;
    gap: 32px;
    align-items: center;
    & span {
        position: absolute;
        background: rgba(30, 144, 255, 1);
        width: 15px;
        height: 15px;
        top: -1px;
        right: 110px;
        font: 400 8px/11.2px 'Roboto';
        color: white;
        border-radius: 100px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        @media (max-width: 575.98px) {
            right: 80px;
        }
    }
    .dropdown_wrapper{
        position: relative;
        display: inline-block;
        height: 100%;
        .dropdown_list{
            font-family: Roboto;
            font-weight: 400;
            position: absolute;
            border: 1px solid #DEDEDE;
            min-width: 300px;
            padding: 10px 24px;
            border-radius: 16px;
            right: 0;
            font-size: 18px;
            background-color:#FFFFFF;
            z-index: 1;
            li {
                cursor: pointer;
                padding: 12px 0;
              
            }
        }
        .logout {
            color: #DA101C;
        }
    }
}

.headerMobileButton {
    &>svg {
        width: 24px;
        height: 24px;

        &>path {
            stroke: black;
        }
    }
}

@media (max-width: 575.98px) {
        .headerMobileLogo {
            &>svg {
                width: 142px;
                height: 24px;
            }

            font: 700 24px/29.26px 'Montserrat'
        }

        .headerMobileBlock {
            gap: 16px;
        }
}