.qr_code_wrapper {
    margin-inline: auto;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .qr_code {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            color: black;
        }
    }
    .title {
        text-align: center;
        font-weight: 600;
        font-size: 1.5rem;
    }
}