.block_subtitle {
    padding: .5rem 0;
    font-size: 1.3rem;
    font-weight: 700;
    color: #555;
}
.list {
    padding-left: 1.5rem;
    line-height: 1.5rem;
}
.contact_wrapper_icon {
    border: 2px solid red;
    max-width: 2rem;
    max-height: 2rem;
    padding: 0;
}
.icons {
    display: flex;
    border: 2px solid red;
}